# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Virtual environments
env/
venv/
env/


# Environment variables
.env
.env.*


# Databases
*.db
*.sqlite
*.sqlite3


# Streamlit
.streamlit/


# OS files
.DS_Store
Thumbs.db


# IDE / Editor
.vscode/
.idea/


# Logs
*.log


# Build artifacts

dist/
build/